*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 2rem auto;
  max-width: 1100px;
  /* background-color: aquamarine; */
}

.search-bar  {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* height: 40px; */
  border: 2px solid teal;
}

#search-bar__text-field {
  flex-grow: 2;
  border: 0;
  outline: none;
}

.search-bar i {
  font-size: 25px;
  padding-right: 20px;
  cursor: pointer;
}

.table-data {
  width: 100%;
  padding: 1rem;
}

th {
  font-size: 20px;
}
.table-header {
  padding: 1rem;
}

img{
  width: 80px;
}

td {
  padding: 10px;
}